{% extends 'civic_calendar/_base.html' %}

{% block content %}
    <div class="container" role="main">
        <div class="list-group">
        {% for eventrelation in object_list %}
            <a class="list-group-item" href="{% url 'update' eventrelation.object_id %}">
                <h4 class="list-group-item-heading">{{ eventrelation.content_object }}</h4>
                <p class="list-group-item-text">
                {{ eventrelation.event.creator.first_name }} {{ eventrelation.event.creator.last_name }}</p>
            </a>
            <a class="list-group-item" href="{% url 'delete' eventrelation.id %}">Delete</a>
        {% endfor %}
        </div><!-- /.list-group -->
    </div> <!-- /.container -->
{% endblock content %}
